.row {
  display: flex;
  max-height: 700px;
}

h2 {
  text-align: center;
}

.column {
  flex: 50%;
}

.column canvas {
  height: 400px;
  width: 300px;
}

.column canvas #barchart {
  height: 250px;
}

canvas #barchart {
  margin-top: 10px;
  box-sizing: border-box;
}
