<div class="infowindow">
  <strong
    >POPDENSE:
    <br /> </strong
  >{{ data.feature.properties.PopDense }}<br />
  <strong
    >COUNTRY:
    <br /> </strong
  >{{ data.feature.properties.County }}<br />
  <strong
    >HH BELOW50:
    <br /> </strong
  >{{ data.feature.properties.HH_Below50 }}<br />
  <strong
    >HH NOCAR:
    <br /> </strong
  >{{ data.feature.properties.HH_NoCar }}<br />
  <strong
    >HU:
    <br /> </strong
  >{{ data.feature.properties.HU }}<br />
  <strong
    >MINORITY:
    <br /> </strong
  >{{ data.feature.properties.Minority }}<br />
  <strong
    >NAMELSAD10:
    <br /> </strong
  >{{ data.feature.properties.NAMELSAD10 }}<br />
  <strong
    >NON WHITE:
    <br /> </strong
  >{{ data.feature.properties.Non_white }}<br />
  <strong
    >OCC HU:
    <br /> </strong
  >{{ data.feature.properties.Occ_HU }}<br />
  <strong
    >OVER65:
    <br /> </strong
  >{{ data.feature.properties.Over65 }}<br />
  <strong
    >POORENG:
    <br /> </strong
  >{{ data.feature.properties.PoorEng }}<br />
  <strong
    >POP T:
    <br /> </strong
  >{{ data.feature.properties.Pop_T }}<br />
  <strong
    >EMPLOYMENT:
    <br /> </strong
  >{{ data.feature.properties.Employment }}<br />
  <strong
    >PRCNT 650:
    <br /> </strong
  >{{ data.feature.properties.Prcnt_65O }}<br />
  <strong
    >PRCNT HHBM:
    <br /> </strong
  >{{ data.feature.properties.Prcnt_HHBM }}<br />
  <strong
    >PRCNT LNG:
    <br /> </strong
  >{{ data.feature.properties.Prcnt_Lng }}<br />
  <strong
    >PRCNT NOCA:
    <br /> </strong
  >{{ data.feature.properties.Prcnt_NoCa }}<br />
  <strong
    >PRCNT RENT:
    <br /> </strong
  >{{ data.feature.properties.Prcnt_Rent }}<br />
  <strong
    >PRCNT U18:
    <br /> </strong
  >{{ data.feature.properties.Prcnt_U18 }}<br />
  <strong
    >REGION:
    <br /> </strong
  >{{ data.feature.properties.Region }}<br />
  <strong
    >RENTERS:
    <br /> </strong
  >{{ data.feature.properties.Renters }}<br />
  <strong
    >STATE:
    <br /> </strong
  >{{ data.feature.properties.State }}<br />
  <strong
    >SV INDEX2:
    <br /> </strong
  >{{ data.feature.properties.SV_Index2 }}<br />
  <strong>UNDER18: <br /> </strong>{{ data.feature.properties.Under18 }}<br />

  <button class="popup-button" routerLink="/chart">GO TO CHARTS</button>
</div>
