<!-- <div>
  <strong>POPDENSE: </strong>{{ data.feature.properties.PopDense }}<br />
  <strong>COUNTRY: </strong>{{ data.feature.properties.County }}<br />
  <strong>HH_Below50: </strong>{{ data.feature.properties.HH_Below50 }}<br />
  <strong>HH_NoCar": </strong>{{ data.feature.properties.HH_NoCar }}<br />
  <strong>REGION: </strong>{{ data.feature.properties.Region }}<br />
  <strong>NAMELSAD10: </strong>{{ data.feature.properties.NAMELSAD10 }}<br />

  <button (click)="openChart()">View with Chart.js</button>
</div> -->
