.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;


}

.map-frame {
  height: 100%;


}

#map {
  height: 100%;
  /* background-color: #DDDDDD; */
}

.header {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: normal;
  z-index: 99999;
}

.header .content {
  padding: 14px;
}

.header .content .title {
  margin: 0 0 5px 0;
  line-height: normal;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}


