.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  color: #555;
}
